@import "../../../styles/variable.scss";



  
.contacts{
    padding: 14rem 0;
    background-color: $color-primary;



    a.link{
        color: $color-dark-500;
        text-decoration: underline;
        transition: all .2s;
        &:hover{
            color: $color-accent-dark;
            transform: scale(1.05);
        }
    }
    &__info{
        @include media-breakpoint-down(xs){text-align: center; margin-bottom: 8rem;}

    }

    &__feedback{
        @include media-breakpoint-down(xs){display: flex; flex-direction: column; align-items: center;}

        .form{

            @include media-breakpoint-down(xs){  display: flex;flex-direction: column;align-items: center;}
          
            &__group{
                @include media-breakpoint-down(xs){width: 100%};
            }

            .input--w-lg{
                @include media-breakpoint-down(md){flex:0 0 95%;}
                @include media-breakpoint-down(xs){flex:0 0 100%;}
            }

            .button{
                @include media-breakpoint-down(xs){
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 50%;
                }
            }

            &__policy{@include media-breakpoint-down(xs){margin-top: 2.5rem; font-size: 1.3rem;text-align: center;};}
        }
    }

    .our-shops{
        margin-top: 7rem;
    }

    .our-shop{

        &__info{
            @include media-breakpoint-down(sm){text-align: center; margin-top: 5rem;}
        }

        .paragraph{
            color: rgba($color-dark-500, .6);
            font-weight: 500;
        }

        agm-map {
            height: 35rem;
        }


        &__gallery{
            width: 90%;
            @include media-breakpoint-down(sm){width: 100%;}

          .swiper {
            height: 50rem;

            img{
                height: 52rem;
                object-fit: cover;
                width: 100%;
            }

            &__nav{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3.25rem
            }
          }

          .swiper-button-next1,
          .swiper-button-prev1,
          .swiper-button-next2,
          .swiper-button-prev2
          {
                position: static;
                color: $color-dark-500;
                height: auto;
                margin: 0;
                height: auto;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &::after{
                    font-size: 1.75rem;
                }

                &.swiper-button-disabled{
                    opacity:.35;
                    cursor:auto;
                    pointer-events:none
                }

            }

            .swiper-button-next1,
            .swiper-button-next2{

                &::after{
                    font-family: swiper-icons;
                    letter-spacing: 0;
                    text-transform: none !important;
                    font-variant: initial;
                    line-height: 1;
                    content: 'next';
                }
            }

            .swiper-button-prev1,
            .swiper-button-prev2{
                
                &::after{
                    font-family: swiper-icons;
                    letter-spacing: 0;
                    text-transform: none !important;
                    font-variant: initial;
                    line-height: 1;
                    content: 'prev';
                }
            }
        }
    }

}